body {
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
}
#root {
    padding: 0;
    display: flex;
    flex: 1 1 auto;
}

.App {
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
}
